@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.crew__subtitle {
    margin: 0;
    padding: 0;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

@media screen and (max-width: 800px) {
    .crew__subtitle {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .crew__subtitle {
        font-size: 16px;
        line-height: 18px;
    }
}