@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');

.planet__barlow {
    margin-left: 167px;
    margin-right: 28px;
    padding: 0;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}

@media screen and (max-width: 800px) {
    .planet__barlow {
        margin-left: 39px;
        margin-right: 19px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }
}

@media screen and (max-width: 500px) {
    .planet__barlow {
        margin-left: 0;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
    }
}