.header__menu-burger {
    display: none;
}

@media screen and (max-width: 635px) {
    .header__menu-burger {
        display: block;
        position: absolute;
        width: 24px;
        height: 21px;
        top: 33px;
        right: 5%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}