.header__nav {
    max-width: 830px;
    height: 96px;
    padding-right: 167px;
    padding-left: 123px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}