@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

.planet__detail-title {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: #D0D6F9;
}

@media screen and (max-width: 800px) {
    .planet__detail-title {
        text-align: center;
    }
}